.flex {display: flex;}

body {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.section { 
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#header, #footer {
    background-color: black;
    color: rgba(230, 219, 219, 0.863);
    flex-grow: 0;
}

#header {
    justify-content: space-between;
    padding: 16px;
}

#header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}


#greeting {
    background-color: rgb(58, 58, 58);
    color: lightgray;
}

#greeting #content {
    background-color: white;
    color: black;
    flex-direction: column;
}

#greeting #img {
    width: 50px;
    height: 50px;
    background-color: white;
}

#info  {
    background-color: rgba(80, 30, 80, 0.74);
    color: black;
}

#quote {
    background-color: lightslategray;
    color: black;
}

#call-to-action {
    background-color: grey;
    color: black;
}



