body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#header, #footer {
    background-color: black;
    color: rgba(230, 219, 219, 0.863);
}

#greeting {
    background-color: rgb(58, 58, 58);
    color: lightgray;
}

#info  {
    background-color: rgba(80, 30, 80, 0.74);
    color: black;
}

#quote {
    background-color: lightslategray;
    color: black;
}

#call-to-action {
    background-color: grey;
    color: black;
}



